/**
 * 自定义界面的样式
 */
/*学习界面*/
.course_learing{
	padding-top: 1px;
}
.course_recommend{
	padding: 0 1.14em;
	height: auto;
	background: #fff;
	margin-top: 12px;
	padding-top: 1px;
}
.learing_head {
	margin: 10px 0;
	height: 1.57em;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.learing_head .border{
	width: 0.22em;
	height: 1.07em;
	background-image: linear-gradient(0deg, #FF7D25 0%, #FF5D24 100%);
}
.learing_head .word{
	font-size: 1.14em;
	color: #000000;
	margin-left: 0.357em;
}

.item_cell_box {
    width: 100%;
    height: auto;
}

.nocourse{
    padding-bottom: 3rem;
}

.item_cell_box .no_learing_course, .no_recommend_course{
    width: 100%;
    height: 100px;
    background: url(../img/nocourse.png) center center no-repeat;
    background-size: 12rem auto;
    display: none;
    justify-content: center;
    align-items: flex-end;
    padding-top: 4rem;
    font-size: 1rem;
    color: #B1B1B1;
}

.courses {
    width: 48%;
    height: auto;
    text-align: center;
    border-radius: 7px;
    margin: 1%;
    margin-bottom: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.kh_goods {
    background: #fff;
}
/*.kh_goods div{
    border: 1px solid;
}*/
.kh_img {
    width: 100%;
    /* height: 100px; */
    height: auto;
    border-radius: 4px;
}
.kh_maintitle {
    font-size: 16px;
	color: #1F1F1F;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding: 10px 0;
}


/*我的*/
.outer{
	width: 100%;
	height: auto;
}
.head_div{
	width: 100%;
	height: 10.14em;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: url(../img/wode_beijin.png);
}
.head_div img{
	width: 5em;
	height: 5em;
	border-radius: 100%;
	margin-left: 1.929rem;
}
.head_div .nickname{
	color: #fff;
	font-size: 1.43em;
	margin-left: 1rem;
}
.my_btn{
	width: 100%;
	height: 3.71em;
	display: flex;
	flex-direction: row;
	background: #fff;
}
.my_btn .btn_logo{
	width: 3.93em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.my_btn .btn_logo img{
	width: 1.88em;
	height: auto;
	/*margin-top: 1rem;*/
}
.my_btn .btn_msg{
	flex: 1;
	display: flex;
	height: 100%;
	align-items: center;
    justify-content: space-between;
}
.my_btn .btn_msg .btn_msg_share{
	font-family: PingFangSC-Regular;
	font-size: .857rem;
	color: #FF5D24;
}
.my_btn .btn_msg .btn_msg_draw{
	font-family: PingFangSC-Regular;
	font-size: .857rem;
	color: #6F6F6F;
}
.my_btn .btn_img{
	width: 2.71em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.my_btn .border_bottom{
	flex: 1;
	height: 3.71em;
	border-bottom: 1px #EEEEEE solid;
	display: flex;
    flex-direction: row;
}
.my_btn .btn_img img{
	width: 1.14em;
	height: auto;
	/*margin-top: 1rem;*/
}
.spacing{
	width: 100%;
	height: .715rem;
	background: #F2F2F2;
}



/*开课时间样式*/
.demoBox {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 8px 20px;
}

.demoBox >p{
    padding-top: 10px;
}

.demoBox >ol {
    padding-top: 15px;
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

.demoBox >ol>li {
    padding-top: 10px;
    margin-left: 7%;
}

.demoBox >ol>li>span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    display: block;
}

.demo {
    height: 35px;
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

.demo >input {
    display: block;
    border: 0;
    border-radius: 3px;
    padding: 0 8px;
    height: 100%;
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    font-size: 14px;
}

.demo >button {
    background-color: #00c599;
    color: #fff;
    border: 0;
    height: 100%;
    margin-left: 8px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 14px;
}

/*历史播放*/
.history_play{
	width: 3.857rem;
	height: 3.857rem;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 #564B48;
	display: none;
	position:fixed;
	right: 1rem;
    bottom: 5.5rem;
}
.history_play .course_thumb_img{
	width: 3.571rem;
	height: 3.571rem;
	border: 0px red solid;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
}
.history_play .course_thumb_img img{
	width: 3.571rem;
	height: auto;
}
.history_play .mark{
	width: 3.571rem;
	height: 3.571rem;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	position: fixed;
    right: 1.13rem;
	bottom: 5.62rem;
	z-index: 1;
	display: flex;
}
.history_play .mark img{
	width: 3.571rem;
    height: 3.571rem;
    border-radius: 50%;
	margin: auto;
}
