body{background: #F5F5F5;}
* { margin: 0; padding: 0; }
	.line-wrapper { width: 100%; height: 4.75rem; overflow: hidden;padding-bottom: 1.25rem; background: #fff;}
	.line-scroll-wrapper { white-space: nowrap; height: 4.75rem; clear: both; }
	.line-btn-delete { float: left; width: 132px; height: 4.75rem; }
	.line-btn-delete button { width: 100%; height: 100%; background: red; border: none; font-size: 1.5rem; font-family: 'Microsoft Yahei'; color: #fff; }
	.line-normal-wrapper { display: inline-block; float: left;}
	.line-normal-icon-wrapper { float: right; width: 120px; height: 120px; margin-right: 12px; }
	.line-normal-icon-wrapper img { width: 120px; height: 120px; }
	.line-normal-avatar-wrapper { width: 8rem; height: 4.75rem; margin-left: 1rem; border-radius: 0.25rem;}
	.line-normal-avatar-wrapper img { width: 8rem; height: 4.75rem;border-radius: 0.25rem;}
	.line-normal-left-wrapper {display: flex;flex-direction: row;}
	.line-normal-info-wrapper { margin-left: .625rem; flex: 1;display: flex;flex-direction: column;height: 4.75rem;margin-right: 1rem;}
	.line-normal-user-name { width:12.81rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-family: PingFangSC-Medium;font-size: 1.0625rem;color: #333333; flex: 1;display: flex;align-items: center}
	.line-normal-msg { width:12.81rem;overflow:hidden; text-overflow:ellipsis; flex: 1;font-family: PingFangSC-Regular;font-size: .875rem;color: #999999;display: flex;align-items: center}
	.line-normal-time { flex: 1; font-family: PingFangSC-Regular;font-size: .75rem;color: #B3B3B3;display: flex;flex-direction: row;justify-content: space-between; align-items: flex-end;}
	#present_price{font-family: PingFangSC-Medium;font-size: 1.125rem;color: #F24724;}
	#origianl_price{font-family: PingFangSC-Medium;font-size: .75rem;color: #B3B3B3;}
	.course_collect_list{width: 100%;height: 100%;margin-bottom: 6rem;padding-top: 1.25rem;background: #fff;}
	.no_collect_course{display: none;flex-direction: column;justify-content: center;align-content: center;}
	.no_collect_course .tip{display: flex;align-content: center;justify-content: center;flex-direction: column;}
	.no_collect_course .tip img{width: 11.81rem;height: 7.08rem;text-align: center;display: block;margin: auto;}
	.no_collect_course .tip span{font-family: PingFangSC-Medium;font-size: .875rem;color: #767676;margin-top: .73rem;text-align: center;}

.line-normal-time .dis_profit{border: 1px solid #FF5D24;border-radius: 8.33rem;width: 4.94rem;height: 1.56rem;color: #FF5D24;line-height: 1.56rem;text-align: center;}
.present_price{color: #1F1F1F;font-size: 1rem;padding-top: .4rem;}	

/*添加商铺课程*/
.add_course_tip{font-size: 1.13rem;color: #333;width: 100%;padding: 1rem;}
.select_course{width: 2.88rem;height: 4.75rem;line-height: 4.75rem;text-align: center;}
.select_course img{width: 1.23rem;height: 1.23rem;}
.save_course{width: 100%;height: 2.75rem;line-height: 2.75rem;background: #F5F5F5;text-align: center;font-size: 1rem;color: #FF5D24;position: fixed;left: 0;bottom: 0;}	