<template>
	<!--<script src="js/config/browser.js" type="text/javascript" charset="utf-8"></script>-->
	<style type="text/css">
		[v-cloak]{
		display: none !important;
	}
	</style>
    <article class="plug_refresh" id="app">
		<!--<div  class="tab-hor-bar">
			<div  class="tab-item" v-for="(item,index) of courseTypeList" @click="menuClick(item.courseTypeId,'N')" v-cloak>
				<div  :class="index == 0 ? 'tab-name menu-selected' : 'tab-name'" v-cloak>{{item.courseTypeName}}</div>
				<div  class="tab-bottom-line" style="display: none;" :id="item.courseTypeId"></div>
			</div>
		</div>-->
        <!----------Andrew_Slider---------->
        <div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide" v-for="item of courseTypeBannerList" @click="courseDetails(item.courseId)">
		        	<img class="banner_img" :src="item.bannerUrl"/>
		        </div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
        <!----------Andrew_Tabs---------->
		<div class="ma_3 c_gray_777 line_h_18em">
	        <div class="module list mt_5 ovh rel">
			    <ul class="plug_for" id="course_list1">
			        <li class="rel ovh bg_white pa_3 bor_bottom bor_gray_ddd touchstart" 
			        	v-for="item of courseList" @click="courseDetails(item.courseId)" v-cloak>
			        	<div class="course_list" style="display: flex;">
			        		<div class="fl bg_gray_f5f border bor_gray_ddd wh_6em img_auto">
				                <img :src="item.courseMainImg" />
				            </div>
				            <div class="fl list_h_18em ml_1em ovh w_65" v-cloak>
				                <h3 class="text_12em" v-cloak>{{item.courseTitle}}</h3>
				                <p class="c_gray_999 text_hidden" v-cloak>{{item.courseDerc}}</p>
				                
				                <p class="c_gray_777">
				                	<span class="present_Price" style="font-size: 1.29em;color: #F24724;" v-cloak>￥{{item.coursePresentPrice}}</span>
				                    <del class="text_al_t"style="font-size: 0.86em;" v-cloak>{{item.courseOriginalPrice}}元</del>
				                    <span style="font-size: 0.86em;float: right;" v-cloak>{{item.numberOfLearners}}人学过</span>
				                </p>
				            </div>
			        	</div>
			        </li>
			    </ul>
			</div>
		</div>
		<div class="history_play" onclick="toPLay()">
			<div class="course_thumb_img">
				<img src=""/>
			</div>
			<div class="mark">
				<img src="img/thumb/suibian.png"/>
			</div>
		</div>
    </article>
    <ak-footer data-display="true">
    </ak-footer>
</template>

<script type="text/javascript">
	var vm = new Vue({
		el : "#app",
		data : {
			courseTypeList:[],
			courseTypeBannerList:[],
			courseList:[]
		},
		created: function () {
			this.$options.methods.getShareSign();
            var self = this;
            $.ajax({
            	async:false,
                type:"post",
				url:apiPath.coursePath,
				data:{
					"method":course.get('courseList')
				},
                dataType: 'json'
            }).then(function (res) {
　　　　　　　　　　//把从json获取的数据赋值给数组
				if (res.code == 0) {
					self.courseTypeList = res.object;
				}
            })
            this.menuClick(1,"Y");
        },
        mounted: function(){
        	$("#"+this.courseTypeList[0].courseTypeId).css("display","block");
        },
        methods:{
        	/**
			 * 点击顶部菜单显示相对应的banner和课程
			 * @param {Object} index
			 */
        	menuClick(index,isFirst){
        		console.log("index="+index)
        		var self = this;
				//设置菜单点的样式
				$(".tab-bottom-line").css("display","none");
				$("#"+index).css("display","block");
				$(".tab-name").removeClass("menu-selected");
				console.log("prev="+$("#"+index).prev());
				$("#"+index).prev().addClass("menu-selected");
				
				$.ajax({
	            	async:false,
	                type:"post",
					url:apiPath.coursePath,
					data:{
						"method":course.get('allcourse'),
						"courseTypeId":index
					},
	                dataType: 'json'
	            }).then(function (res) {
	　　　　　　　　　　//把从json获取的数据赋值给数组
					if (res.code == 0) {
						self.courseTypeBannerList = [];
						self.courseTypeBannerList = res.object.courseTypeBannerList;
						
						self.courseList = res.object.courseList;
//						if(isFirst == "Y"){
//							self.courseTypeBannerList = [];
//							self.courseTypeBannerList = res.object.courseTypeBannerList;
//							self.courseList = res.object.courseList;
//						}else{
//							var courseTypeBannerList = res.object.courseTypeBannerList;
//							var courseList = res.object.courseList;
//							vm.courseTypeBannerList = [];
//							for(var i=0;i<courseTypeBannerList.length;i++){
//								console.log(courseTypeBannerList[i])
//								Vue.set(vm.courseTypeBannerList,i,courseTypeBannerList[i])
//							}
//							console.log("bannerlist:"+vm.courseTypeBannerList)
//							for(var i=0;i<courseList.length;i++){
//								Vue.set(vm.courseList,i,courseList[i])
//							}
//						}
						
					}
	            })
			},
		       courseDetails(courseId){
		       	    var userInfo = JSON.parse(window.localStorage.getItem("userInfo"));
		       		window.location.href = "course_details.html?courseId="+courseId;
		       		localStorage.setItem("userId",userInfo.userId);
		       },
		       getShareSign : function(){
						
						function GetRequest() {
							var url = location.search; //获取url中"?"符后的字串
							var theRequest = new Object();
							if (url.indexOf("?") != -1) {
								var str = url.substr(1);
								strs = str.split("&");
								for(var i = 0; i < strs.length; i ++) {
									theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
								}
							}
							return theRequest;
						}
						var Request = new Object();
							Request = GetRequest();
						var code = Request['code'];

						var title = "增长帮";
						var derc = "新兴职业教育平台，互联网和互联网+从业人员的黄埔军校。新媒体，短视频，产品，运营，推广，研发，变现，融资，面面俱到，步步深挖，让你站在巨人的肩膀上快速成长！";
						var img = "http://p8v8q53wo.bkt.clouddn.com/zzb/growth_logo.png";
						
						var userInfo = JSON.parse(window.localStorage.getItem("userInfo"));	
						var userId = userInfo.userId;
						var currurl = location.href.split('#')[0];
						console.log("currurl000="+currurl.split("?code=")[0]);
						currurl = currurl.split("?code=")[0];
						console.log("currurl="+currurl);
						console.log("userInfo="+userInfo+",currurl="+currurl+",title="+title+",derc="+derc+",img="+img);
						//		var shareData = {
						//	   			
						//	   	   };
						//ajax注入权限验证  
						$.ajax({
							async: false,
							type:'get',
							url : apiPath.wxSharePath,
							dataType : 'json',
							data : {
								"method":wxShare.get('getSign'),
								'url' : currurl
							},
							success : function(res) {
								console.log(res);
								var appId = res.object.appId;
								var timestamp = res.object.timestamp;
								var nonceStr = res.object.nonceStr;
								var signature = res.object.signature;
								console.log("appId="+appId+" timestamp="+timestamp+" nonceStr="+nonceStr+" signature="+signature);
								wx.config({
									debug : false, //开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。  
									appId : appId, //必填，公众号的唯一标识  
									timestamp : timestamp, // 必填，生成签名的时间戳  
									nonceStr : nonceStr, //必填，生成签名的随机串  
									signature : signature, // 必填，签名，见附录1  
									jsApiList : [ 'onMenuShareAppMessage', 'onMenuShareTimeline' ] //必填，需要使用的JS接口列表，所有JS接口列表 见附录2  
								});
								
								wx.ready(function() {
									wx.onMenuShareAppMessage({
										title:title,
									  	link: currurl+"&disUserId="+userId,
									  	desc: derc,
									   	imgUrl: img,
									   	success : function() {
									   		$.ajax({
									  			 type:'post',
									  			 url:apiPath.userPath,
									  			 dataType:'json',
									  			 data:{
														"method":user.get('addShare'),
														"userId":userId,
														"courseId":$("#courseId").val(),
														"shareWay":"news",
														"sharePlace":2
													},
									  			 success:function(res){
									  			 	console.log(res.code);
									    			if (res.code == 0) {
									    				console.log("分享成功");
													}
									  			}
									  		 });
									   	},
										cancel : function() {
											console.log("取消分享");
											}
										});
						 
										wx.onMenuShareTimeline({
											title:title,
										  	link: currurl+"&disUserId="+userId,
									  	desc: derc,
									   	imgUrl: img,
									   	success : function() {
									   		$.ajax({
									  			 type:'post',
									  			 url:apiPath.userPath,
									  			 dataType:'json',
									  			 data:{
														"method":user.get('addShare'),
														"userId":userId,
														"courseId":$("#courseId").val(),
														"shareWay":"news",
														"sharePlace":1
													},
									  			 success:function(res){
									  			 	console.log(res.code);
									    			if (res.code == 0) {
									    				console.log("分享成功");
													}
									  			}
									  		 });
									   	},
										cancel : function() {
											console.log("取消分享");
											}
										});
									}); 
						 
									wx.error(function(res) {
										//alert('config错误'+res);
									});
								} 
							});
					}
       }
	})
	
	/**
	 * 获取本地保存的用户最后一次观看的记录
	 */
	var historyPlay = window.localStorage.getItem("historyPlay");
	console.log("historyPlay="+historyPlay);
	var nums = window.localStorage.getItem("nums");
	console.log("nums="+nums);
//	alert("historyPlay="+historyPlay)
	if(historyPlay == "1"){
		var courseThumbImg = window.localStorage.getItem("courseThumbImg");
		
		var courseDetails = JSON.parse(window.localStorage.getItem("courseDetails"));
	 	var nums = window.localStorage.getItem("nums");
	 	var isbuy = window.localStorage.getItem("isbuy");
	 	var isFree = window.localStorage.getItem("isFree");
	 	var freeChapters = window.localStorage.getItem("freeChapters");
	 	var userId = window.localStorage.getItem("userId");
	 	var courseChapterUrl = window.localStorage.getItem("courseChapterUrl");
		var timepoint = window.localStorage.getItem("timepoint");
		
	 	console.log("courseDetails="+courseDetails);
	 	console.log("nums="+nums);
	 	console.log("isbuy="+isbuy);
	 	console.log("isFree="+isFree);
	 	console.log("freeChapters="+freeChapters);
	 	console.log("userId="+userId);
	 	console.log("courseChapterUrl="+courseChapterUrl);
	 	console.log("timepoint="+timepoint);
	 		
		$(".history_play").css("display","flex");
		$(".course_thumb_img img").attr("src",courseThumbImg);
		
	}
	/**
	 * 点击浮窗去播放页
	 */
	function toPLay(){
		var courseDetails = JSON.parse(window.localStorage.getItem("courseDetails"));
	 	var nums = window.localStorage.getItem("nums");
	 	var isbuy = window.localStorage.getItem("isbuy");
	 	var isFree = window.localStorage.getItem("isFree");
	 	var freeChapters = window.localStorage.getItem("freeChapters");
	 	var userId = window.localStorage.getItem("userId");
	 	var courseChapterUrl = window.localStorage.getItem("courseChapterUrl");
	 	var timepoint = window.localStorage.getItem("timepoint");
	 	window.localStorage.setItem("courseDetails",JSON.stringify(courseDetails));
	 	window.localStorage.setItem("nums",nums);
	 	window.localStorage.setItem("isbuy",isbuy);
	 	window.localStorage.setItem("isFree",isFree);
	 	window.localStorage.setItem("freeChapters",freeChapters);
	 	window.localStorage.setItem("userId",userId);
	 	window.localStorage.setItem("courseChapterUrl",courseChapterUrl);
		window.localStorage.setItem("timepoint",timepoint);
		window.location.href = "play.html"
	}
	/**
	 * 点击banner到课程详情
	 */
	
	function bannerDetails(courseId){
		window.location.href="course_details.html?courseId="+courseId;
	}
	
	/**
	 * 轮播图
	 */
	function hdp_swiper(){
		var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'horizontal', // 垂直切换选项
		    loop: true, // 循环模式选项
		    speed:300,
			  autoplay : {
			    delay:3000
			  },
		    // 如果需要分页器
		    pagination: '.swiper-pagination',
		    paginationClickable : true,
		    observer:true,//修改swiper自己或子元素时，自动初始化swiper 
			observeParents:false,//修改swiper的父元素时，自动初始化swiper 
			onSlideChangeEnd: function(swiper){ 
			　　　swiper.update();  
			　　　mySwiper.startAutoplay();
			　　   mySwiper.reLoop();  
			}
  		})
	}
	 
	/**
	 * 根据屏幕大小按banner长宽比动态调整大小
	 */
	$(document).ready(function(){
		var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'horizontal', // 垂直切换选项
		    loop: true, // 循环模式选项
		    speed:300,
			  autoplay : {
			    delay:3000
			  },
		    // 如果需要分页器
		    pagination: {
		    	el : '.swiper-pagination'
		    },
		    paginationClickable : true,
		    observer:true,//修改swiper自己或子元素时，自动初始化swiper 
			observeParents:false,//修改swiper的父元素时，自动初始化swiper 
			onSlideChangeEnd: function(swiper){ 
				swiper.update();  
				mySwiper.startAutoplay();
				mySwiper.reLoop();  
			}
  		})
		
		var bannerWidth = screen.width;
	    var	bannerHeight = bannerWidth/(375/180);
	    $(".banner_img").height(bannerHeight);
	    $(".banner_img").height(bannerHeight);
	    
	    //当浏览器大小变化时
	    $(window).resize(function () {
		    var bannerWidth = $(".banner_img").width();
		    var	bannerHeight = bannerWidth/(375/180);
		    $(".banner_img").height(bannerHeight);
		});
	})
	
</script>

<style type="text/css">
    /*样式覆盖区域*/
    .ovh{
   		/*margin-bottom: 0.1px!important;*/
    }
    .no_learing_course{
	    width: 100%;
	    height: 100px;
	    background: url(img/nocourse.png) center center no-repeat;
	    background-size: 12rem auto;
	    justify-content: center;
	    display: flex;
	    align-items: flex-end;
	    padding-top: 4rem;
	    font-size: 1rem;
	    color: #B1B1B1;
	}
	
	.tab-hor-bar {
	  display: -webkit-box;
	  overflow-x: scroll;
	  -webkit-overflow-scrolling: touch;
	  background: #fff;
	}
	.tab-item {
	  width: 75px;
	  height: 44px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	.tab-name {
	  width: 75px;
	  height: 42px;
	  font-size: 14px;
	  text-align: center;
	  line-height: 42px;
	}
	.tab-bottom-line {
	  width: 50px;
	  height: 3px;
	  background: #007aff;
	  margin-top: -1px;
	}
	.banner_img{
		width: 100%;
	}
	.menu-selected{
		color: #007aff;
		font-weight: bold;
	}
</style>
